.Searchbar {
    display: flex;
    justify-content: center;
    background-color: rgb(47, 104, 153);
    width: 100vw;
    padding: 15px 0px;
}

.Form {
    border-radius: 5px;
    height: 25px;
}

.Button {
    border: 2px solid #a3a3a3;
    border-radius: 10px 0px 0px 10px;
    padding: 2px;
    height: 100%;
}

.Input {
    border-top: 2px solid #a3a3a3;
    border-right: 2px solid #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    padding: 0px;
    height: 21px;
}